{% extends "base.html" %}

{% block title %}Registered Audible devices{% endblock %}

{% block content %}
  <div class="container bg-white p-5 rounded">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <h1 class="text-center">Registered Audible devices</h1>
        <hr class="mt-0 mb-4">
        <ul>
          {% for device in object_list %}
            <li>
              <a href="{{ device.get_absolute_url }}"><strong>{{ device.device_info.device_name }}</strong></a>
              <p>Owner: {{ device.customer_info.name }}</p>
            </li>
          {% empty %}
            <li>No devices registered yet.</li>
          {% endfor %}
        </ul>
      </div>
      <a class="btn btn-sm btn-primary" role="button" href="{% url 'audible_add_device' %}">Add new device</a>
    </div>
  </div>
{% endblock %}
