{% url 'fl_dashboard' as dashboard_url %}
{% url 'account_register' as register_url %}


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Audible</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == dashboard_url %} active {%endif%}" aria-current="page" href="{{ dashboard_url }}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      {% if request.user.is_authenticated %}
      <div class="d-grid gap-2 d-md-flex col-2 justify-content-sm-end">
        <a class="btn btn-sm btn-secondary" role="button" href="{% url 'account_profile' %}">{{ user.username }}</a>
        <a class="btn btn-sm btn-danger" role="button" href="{% url 'logout' %}">Logout</a>
      </div>
      {% else %}
      <a class="btn btn-sm btn-secondary m-2"  href="{{ 'register_url' }}">SignUp</a>
      <a class="btn btn-sm btn-primary m-2" role="button" href="{% url 'login'%}?next={{ request.path|urlencode }}">SignIn</a>
      {% endif %}
    </div>
  </div>
</nav>
